@model In_Mgmt.Models.StoredUOM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>StoredUOM</legend>

    <div class="display-label">SUOM_Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUOM_Name)
    </div>

    <div class="display-label">SUOM_Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUOM_Code)
    </div>

    <div class="display-label">Factor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Factor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
